<html>
<head>
<title>${name}</title>
</head>
<body>

<h1>${name}</h1>
<p>My first paragraph.</p>

<p>Infrastructure as code on ShipHero is deployed using Terraform as implementation tool , the following documents describe how is designed and implemented

Management and Governance AWS Accounts

How to provision a new AWS account

Workloads Infrastructure

Terraform Module Infrastructure

Terraform Stacks/Workspaces Infrastructure

Policy as Code Design</p>
</body>
</html>
